body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 20px;
}

#controls {
  margin-bottom: 20px;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
}
#urlInput.panel-link,
#heightInput.panel-link {
  background-color: #fff; /* 任意の背景色に変更 */
}
