<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='animanimg_favicon.png') }}" type="image/x-icon">
    <title>お気に入り</title>
</head>
<body>
    <header>
        <h1>画像一覧</h1>
        <span class="hamburger-menu">&#9776;</span> <!-- ハンバーガーアイコン -->
    </header>
    <!-- 20241215 ２カラムレイアウト対応-->
    <div class="container">
        <!-- 左側カラム -->
        <div class="left-column">
            <a href="/" class="panel-link">メインページ</a>
            <a href="/favorites" class="panel-link">画像一覧</a>
            <a href="/favorite-threads" class="panel-link">スレッド一覧</a>
        </div>
        <!-- メインカラム -->
        <div class="main-column">
            <!-- 20241213 画像一覧の絞り込み機能 altがImageかOutlinkかで決まる 外部リンクのサムネイルの場合はOutlinkです -->
            <div class="button-container">
                <button type="button" class="filter-button active" onclick="filterCards('all', this)">すべて</button>
                <button type="button" class="filter-button" onclick="filterCards('Image', this)">コピー可能のみ</button>
                <button type="button" class="filter-button" onclick="filterCards('Outlink', this)">外部リンクのみ</button>
            </div>

            <div id="favorites-container" class="card-container"></div>
        </div>
        <!-- 右側カラム -->
        <div class="right-column">
            <a href="/" class="panel-link">スペース予約</a>
            <a href="/" class="panel-link">外部リンクとか</a>
            <a href="/" class="panel-link">あにまん掲示板とか</a>
        </div>
    
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
