<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>お気に入りスレッド一覧</title>
</head>
<body>
    <h1>お気に入りスレッド一覧</h1>
    <a href="/" class="panel-link">メインページ</a>
    <a href="/favorites" class="panel-link">お気に入り画像</a>
   
    <!-- スレッド一覧のコンテナ -->
    <div id="threads-container" class="card-container"></div>

    <!-- 外部スクリプトを読み込む -->
    <script src="/static/js/script.js"></script>
</body>
</html>
