<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='animanimg_favicon.png') }}" type="image/x-icon">
    <title>あにまんお気に入りと画像スレッド</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header><h1>あにまん&nbsp;お気に入り画像とスレッド</h1></header>

    {% if warning_message %}
        <p style="color: red; font-weight: bold;">{{ warning_message }}</p>
    {% endif %}

    <form method="POST" style="margin-bottom: 20px;">
        <label for="url">スレッドのURLを入力してください:</label>
        <input type="text" id="url" name="url" style="width: 400px;" 
               required pattern="https:\/\/bbs\.animanch\.com\/.*"
               title="https://bbs.animanch.com/ から始まるURLを入力してください">
        <button type="submit">画像を取得</button>
    </form>
    

    <a href="/favorites" class="panel-link">画像一覧</a>
    <a href="/favorite-threads" class="panel-link">スレッド一覧</a>

    {% if thread_url %}
    <div class="panel-link">
        <p></strong><a href="{{ thread_url }}" target="_blank">{{ thread_title }}</a></p>
        <button type="button" id="add-thread-btn" 
                data-thread-url="{{ thread_url }}" 
                data-thread-title="{{ thread_title }}"
                data-thread-thumb="{{ images[0]['thumb_url'] }}"
                >
            スレッド一覧に追加
        </button>
    </div>
    {% endif %}

    <div class="card-container">
        {% for image in images %}
        <div class="card">
            <img src="{{ image.thumb_url }}" alt="Image">
            <p><a href="{{ image.res_link }}" target="_blank" class="link">>>{{image.res_number}}</a></p>
            <div class="button-container">
                <button class="copy-btn" onclick="copyToClipboard('{{ image.img_url }}')">コピー</button>
                <button onclick="addToFavorites('{{ image.thumb_url }}', '{{ image.img_url }}', '{{ image.res_number }}', '{{ image.res_link }}')">お気に入り</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- JavaScriptファイルを外部ファイルとして読み込む -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
