<div>
  <!--
  <a href="#" id="imageexportButton" class="panel-link">エクスポート(画像)</a>
  <label for="importimageFile" class="panel-link">インポート(画像)</label>
  <input
    type="file"
    id="importimageFile"
    accept="image/png"
    style="display: none"
  />

  <a href="#" id="threadexportButton" class="panel-link"
    >エクスポート(スレッド)</a
  >
  <label for="importthreadFile" class="panel-link">インポート(スレッド)</label>
  <input
    type="file"
    id="importthreadFile"
    accept="image/png"
    style="display: none"
  />
-->
  <canvas id="canvas" style="display: none"></canvas>
  <!-- パネルリンク -->
  <a href="#" id="imagecsvdownload" class="panel-link"
    >画像一覧のcsvファイルをダウンロード</a
  >
  <!-- CSVインポート（スタイル共通化済み） -->
  <label for="csvimport" class="panel-link" style="cursor: pointer">
    画像一覧のcsvファイルををアップロード
  </label>
  <input type="file" id="csvimport" accept=".csv" style="display: none" />
  <!-- パネルリンク -->
  <a href="#" id="threadcsvdownloadButton" class="panel-link"
    >スレッド一覧のcsvファイルをダウンロード</a
  >
  <!-- CSVインポート（ファイル選択） -->
  <label for="csvupload" class="panel-link" style="cursor: pointer">
    スレッド一覧のcsvファイルをアップロード
  </label>
  <input type="file" id="csvupload" accept=".csv" style="display: none" />

  <!-- ブックマークレット追加リンク -->
  <a
    href="javascript:void(0);"
    class="panel-link"
    id="bookmarkLink"
    onclick="addBookmarklet();"
    >スレッドURL取得ブックマークレットを追加(識者向け)</a
  >
  <!-- a
    href="javascript:void(0);"
    class="panel-link"
    id="bookmarkLink2"
    onclick="addBookmarklet2();"
    >ウマ娘ダイスブックマークレットを追加(識者向け)</a
  -->
</div>
