<div class="left-column-io">
    <!-- Favorites用のエクスポートボタン -->
    <a href="#" class="panel-link" id="exportFavoritesButton">お気に入り画像をエクスポート</a>
    <!-- Favoritesデータ用のインポートフォーム -->
    <form id="importFavoritesForm">
        <label for="importFavorites">お気に入り画像データ</label>
        <input type="text" id="importFavorites" placeholder="お気に入り画像データを入力" style="width: 100%; height: 60px; text-align: center;">
        <button type="button" id="importFavoritesButton">画像データをインポート</button>
    </form>
    <!-- Favorite Threads用のエクスポートボタン -->
    <a href="#" class="panel-link" id="exportFavoriteThreadsButton">お気に入りスレッドをエクスポート</a>

    <!-- Favorite Threadsデータ用のインポートフォーム -->
    <form id="importFavoriteThreadsForm">
        <label for="importFavoriteThreads">お気に入りスレッドデータ</label>
        <input type="text" id="importFavoriteThreads" placeholder="お気に入りスレッドデータを入力" style="width: 100%; height: 60px; text-align: center;"></textarea>
        <button type="button" id="importFavoriteThreadsButton">スレッドデータをインポート</button>
    </form>
</div>
