<!-- 右側カラム -->
<div class="right-column">
  <a href="https://bbs.animanch.com/" class="panel-link" target="_blank"
    >あにまん掲示板</a
  >
  <a
    href="https://channkenn.github.io/uma_search/"
    class="panel-link"
    target="_blank"
    >あにまん掲示板 ウマカテ検索</a
  >
  <a
    href="https://kuramiya.github.io/UmaImageCombine/"
    class="panel-link"
    target="_blank"
    >UmaImageCombine</a
  >
  <a
    href="https://kuramiya.github.io/UmaPositioningMap/"
    class="panel-link"
    target="_blank"
    >ウマ娘ポジショニングマップ</a
  >
  <a href="/" class="panel-link" target="_blank">外部リンクとか予約スペース</a>
  <a href="/" class="panel-link" target="_blank">外部リンクとか予約スペース</a>
</div>
