<!-- 右側カラム -->
<div class="right-column">
  <a href="https://bbs.animanch.com/" class="panel-link" target="_blank"
    >あにまん掲示板</a
  >
  <a
    href="https://channkenn.github.io/uma_search/"
    class="panel-link"
    target="_blank"
    >あにまん掲示板 ウマカテ検索</a
  >
  <a
    href="https://channkenn.github.io/animan_evo/"
    class="panel-link"
    target="_blank"
    >あにまん掲示板 エボメイカー</a
  >
  <a
    href="https://kuramiya.github.io/UmaImageCombine/"
    class="panel-link"
    target="_blank"
    >UmaImageCombine</a
  >
  <a
    href="https://kuramiya.github.io/UmaPositioningMap/"
    class="panel-link"
    target="_blank"
    >ウマ娘ポジショニングマップ</a
  >
  <a href="https://88ch.vercel.app/" class="panel-link" target="_blank"
    >88ch (BaBa channel) - 競馬専門掲示板</a
  >
</div>
