<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>投稿前 テキスト</title>
    <style>
      /* 横並びにするためのスタイル */
      .count-container {
        display: flex;
        gap: 20px; /* アイテム間のスペース */
        justify-content: center; /* 水平方向の中央揃え */
        align-items: center; /* 垂直方向の中央揃え */
      }
    </style>
  </head>
  <body>
    <h2>投稿前 テキスト</h2>
    <textarea
      id="textArea"
      rows="5"
      cols="40"
      placeholder="本文を入力 (最大30行/1000文字まで) クリエイティブではimageURLをコピーした際にアラートはでません"
    ></textarea>
    <br />
    <button id="copyButton">コピーする</button>
    <button id="clearButton">クリア</button>

    <div class="count-container">
      <p>文字数: <span id="charCount">0</span></p>
      <p>行数: <span id="lineCount">1</span></p>
    </div>
    <p id="copyMessage" style="color: green; display: none">
      テキストがコピーされました！
    </p>
    <script src="/static/js/script.js"></script>
  </body>
</html>
