<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='animanimg_favicon.png') }}" type="image/x-icon">
    <title>{{ thread_title }}</title>
</head>
<body>
    <header onclick="window.location.href='{{ thread_url }}'" style="cursor: pointer;">
        <h1>{{ thread_title }}</h1>
    </header>
    <a href="/" class="panel-link">メインページ</a>
    <a href="/favorites" class="panel-link">画像一覧</a>
    <a href="/favorite-threads" class="panel-link">スレッド一覧</a>

    <div class="card-container">
        {% for image in images %}
        <div class="card">
            <img src="{{ image.thumb_url }}?nocache={{ current_timestamp }}" alt="Image">
            <a href="{{ image.res_link }}" target="_blank" class="link">>>{{ image.res_number }}</a>
            <div class="button-container">
                <button class="copy-btn" onclick="copyToClipboard('{{ image.img_url }}')">コピー</button>
                <button onclick="addToFavorites('{{ image.thumb_url }}', '{{ image.img_url }}', '{{ image.res_number }}', '{{ image.res_link }}')">お気に入り</button>
            </div>
        </div>
        {% endfor %}
    </div>
    
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
