<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>{{ thread_title }}</title>
</head>
<body>
    <h1>{{ thread_title }}</h1>
    <a href="/" class="panel-link">メインページ</a>
    <a href="/favorites" class="panel-link">お気に入り画像</a>
    <a href="/favorite-threads" class="panel-link">お気に入りスレッド</a>

    <p><a href="{{ thread_url }}" target="_blank">{{ thread_url }}</a></p>
    <div class="card-container">
        {% for image in images %}
            <div class="card">
                <img src="{{ image.thumb_url }}" alt="Image">
                <div class="card-body">
                    <a href="{{ image.img_url }}" class="link" target="_blank">画像を見る</a>
                    <div class="button-container">
                        <button class="copy-btn" onclick="copyToClipboard('{{ image.img_url }}')">コピー</button>
                        <button class="remove-btn" onclick="addToFavorites('{{ image.thumb_url }}', '{{ image.img_url }}')">お気に入り</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
